body{
   background-image: url(https://i.stack.imgur.com/jGlzr.png);
}

header {
   width: 100%;g
   background: white;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
#menu {
   float: right;
}
#menu li {
   display: inline-block;
   margin-right: 30px;
}
#menu a {
   color: #111;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   display: block;
   line-height: 40px;
}

img{
   float:left; 
    margin: 15px 15px 15px 0px;
}

.post {
   margin-bottom: 35px;
}
.post-content p {
   line-height: 1.5;
   padding-bottom: 1em;
}
.post-image {
   margin-bottom: 30px;
}
.category {
   margin-bottom: 15px;
}
.category a {
   color: #F8B763;
   text-transform: uppercase;
}
.post-title {
   margin-bottom: 12px;
   font-size: 26px;
}

.post-footer {
   border-top: 1px solid #EBEBE3;
   border-bottom: 1px solid #EBEBE3;
   position: relative;
   margin-top: 15px;
}
.more-link {
   position: relative;
   display: inline-block;
   font-size: 10px;
   text-transform: uppercase;
   color: white;
   line-height: 44px;
   padding: 0 22px;
   background: #3C3D41;
   letter-spacing: 0.1em;
   white-space: nowrap;
